body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.content {
  border-style: solid;
  border-width: 1px;
  overflow: scroll;
  height: 40vh;
}

div.selection {
    background: #ccc;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

div.selection:focus {
    outline: 1px solid blue;
}
